body {
    margin: 0;
    padding: 0;
    background: #F6F6F9;
}
.header {
    border-bottom: 1px solid #DCDCE1;
    padding: 10px 0;
    margin-bottom: 10px;
}
.container {
    width: 980px;
    margin: 0 auto;
}
.ico-title {
    font-size: 2em;
}
.iconlist {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.iconlist li {
    position: relative;
    margin: 5px;
    width: 25px;
    cursor: pointer;
}
.iconlist li .icon-holder {
    position: relative;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
    background: #ffffff00;
    border: 1px solid #e4e5ea00;
    transition: all 0.2s linear 0s;
}
.iconlist li .icon-holder:hover {
    background: #1F1142;
    color: #ffffff;
}
.iconlist li .icon-holder:hover .icon i {
    color: #ffffff;
}
.iconlist li .icon-holder .icon {
    padding: 1px;
    text-align: center;
}
.iconlist li .icon-holder .icon i {
    font-size: 1em;
    color: #1F1142;
}
